ion-toolbar {
    --ion-background-color: #000000;
}

ion-avatar {
    width: 90px;
    height: 90px;
}
ion-icon {
    font-size: 100px;
    // size: large;
    color: #ffc409;
}

ion-label {
    color: #ffc409;
}

ion-toolbar {
    background-color: #000000;
}

ion-content {
    --ion-background-color: #383838;
}