ion-footer {
    background-color: #ffc409;
}

// ion-list {
//     background-color: rgb(65, 65, 65);
// }
// .otherUsers {
//     --backgrounf--color: rgb(218, 52, 52);
// }
ion-content {
    background-color: #ffffff;
}
// .div-color {
div {
    background-color: #7e7e7e;
}
// }
ion-loading.my-custom-class {
    .loading-wrapper {
        background: transparent;
        box-shadow: none;
    }
  }